#chatBox {
  display: flex;
  flex-direction: column-reverse;
  overflow: hidden;
  height: 100%;
}

.chat {
  width: 100%;
  color: white;

  --nick-yellow: #ffe604;
  --nick-red: #ee534f;
  --nick-blue: #41a4f5;
}

.chat > div {
  margin: 0px 10px 0px 10px;
}

.chat-timestamp {
  width: 7%;
  font-size: 16px;
  text-align: right;
  padding-top: 6px;
}

.chat-nick {
  width: 13%;
  font-size: 20px;
  font-weight: 700;
  white-space: nowrap;
  color: var(--nick-yellow);
}

.chat-msg {
  width: 80%;
  font-size: 20px;
}
