<div class="contentBox intro-teamStatsBox">
    <div class="intro-teamStatsBox-wrapper verticalCenterFlexBox">
        <div class="intro-teamStatsBox-title">avg. rank</div>
        <div class="intro-teamStatsBox-value">#1,189</div>
    </div>
    <div class="intro-teamStatsBox-divider"></div>
    <div class="intro-teamStatsBox-wrapper verticalCenterFlexBox">
        <div class="intro-teamStatsBox-title">quals. seeding</div>
        <div class="intro-teamStatsBox-value">#5</div>
    </div>
</div>