.intro-teamStatsBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 380px;
    height: 80px;
    text-align: center;
}

.intro-teamStatsBox-wrapper {
    width: 189px;
    height: 100%;
}

.intro-teamStatsBox-divider {
    width: 2px;
    height: 60px;
    background-color: white;
    opacity: 0.2;
}

.intro-teamStatsBox-title {
    font-size: 18px;
}

.intro-teamStatsBox-value {
    font-size: 24px;
}