<div class="lobby-mapCompact">
    <div class="lobby-mapCompact-pick"></div>
    <div class="lobby-mapCompact-content">
        <div class="contentBox horizontalFlexBox">
            <div class="lobby-mapCompact-map">FM1</div>
            <div class="horizontalFlexBox lobby-mapCompact-result">
                <div class="lobby-mapCompact-winText">win</div>
                <div class="circle verticalCenterFlexBox" style="background-color: var(--red);">
                    <div class="lobby-mapCompact-play"></div>
                </div>
            </div>
        </div>
    </div>
</div>