<div class="lobby-leaderboardBox" style="background-color: var(--blue);">
    <div class="lobby-leaderboardBox-rank monospace">1</div>
    <div class="contentBox">
        <img src="/samples/6665667.jpg" class="lobby-leaderboardBox-pfp">
        <div class="lobby-leaderboardBox-nickNscore">
            <div class="lobby-leaderboardBox-nick">yhsphd</div>
            <div class="lobby-leaderboardBox-score monospace">207,746</div>
        </div>
        <div class="lobby-leaderboardBox-cmbNacc monospace">
            <div class="lobby-leaderboardBox-combo">404x</div>
            <div class="lobby-leaderboardBox-acc">99.27%</div>
        </div>
    </div>
</div>