.mappool-map {
    align-items: center;
    margin: 2px 10px 2px 10px;
}

.mappool-map-divider {
    margin-left: 20px;
    margin-right: 10px;
    width: 2px;
    height: 20px;
    background: white;
}

.mappool-map-code {
    font-size: 36px;
    color: #B9FFC4;
}

.mappool-map-title {
    font-size: 24px;
}