.metadata {
    width: 400px;
    height: 460px;
    background-color: var(--white);
}

.metadata-bg {
    background-image: url("https://assets.ppy.sh/beatmaps/906433/covers/cover.jpg?1622153895");
    background-size: cover;
    width: 370px;
    height: 100px;
    margin: 10px;
}

.metadata-bg-dim {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: relative;
}

.metadata-phase {
    margin-left: 20px;
    font-size: 36px;
}

.metadata-index {
    margin-left: 20px;
    font-size: 20px;
}

.metadata-map {
    position: absolute;
    width: 90px;
    height: 40px;
    line-height: 40px;
    right: 10px;
    bottom: 10px;
    font-size: 24px;
    color: black;
    background-color: var(--yellow);
}

.metadata-label {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    letter-spacing: 0.2em;
    color: #D9D9D9;
}

.metadata-value {
    font-size: 24px;
    overflow: hidden;
    white-space: nowrap;
}

.metadata .horizontalDivider {
    width: auto;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.2);
    margin-top: 10px;
    margin-bottom: 5px;
}

.metadata .contentBox > div {
    margin-left: 10px;
    margin-right: 10px;
}