<div class="metadata">
    <div class="metadata-bg">
        <div class="metadata-bg-dim">
            <div class="verticalCenterFlexBox" style="position: absolute; height: 100%;">
                <div class="metadata-phase">Phase 1</div>
                <div class="metadata-index">map 4 of 7</div>
            </div>
            <div class="metadata-map acronym">HD1</div>
        </div>
    </div>
    <div class="contentBox" style="width: 370px; height: 200px;">
        <div class="metadata-label" style="padding-top: 10px;">Title</div>
        <div class="metadata-value bold" style="font-size: 36px;">Liminality</div>
        <div class="horizontalDivider"></div>
        <div class="horizontalFlexBox">
            <div style="width: 50%;">
                <div class="metadata-label">Artist</div>
                <div class="metadata-value bold">FELT</div>
            </div>
            <div style="width: 50%;">
                <div class="metadata-label">Mapper</div>
                <div class="metadata-value bold">[Mad]</div>
            </div>
        </div>
        <div class="horizontalDivider"></div>
        <div class="metadata-label">Difficulty</div>
        <div class="metadata-value bold">Beyond the Threshold</div>
    </div>
    <div class="contentBox" style="width: 370px; height: 120px;">
        <div class="horizontalFlexBox" style="padding-top: 10px;">
            <div style="width: 25%;">
                <div class="metadata-label">CS</div>
                <div class="metadata-value">4.0</div>
            </div>
            <div style="width: 25%;">
                <div class="metadata-label">AR</div>
                <div class="metadata-value">9.6</div>
            </div>
            <div style="width: 25%;">
                <div class="metadata-label">OD</div>
                <div class="metadata-value">9.2</div>
            </div>
            <div style="width: 25%;">
                <div class="metadata-label">HP</div>
                <div class="metadata-value">4.5</div>
            </div>
        </div>
        <div class="horizontalDivider"></div>
        <div class="horizontalFlexBox">
            <div style="width: 25%;">
                <div class="metadata-label">SR</div>
                <div class="metadata-value">6.78</div>
            </div>
            <div style="width: 25%;">
                <div class="metadata-label">Length</div>
                <div class="metadata-value">07:40</div>
            </div>
            <div style="width: 50%;">
                <div class="metadata-label">BPM</div>
                <div class="metadata-value">110-145</div>
            </div>
        </div>
    </div>
</div>