.intro-musicplayer-bg {
  position: absolute;
  right: 128px;
  bottom: 128px;

  background-color: var(--white);
  width: 400px;
  height: 180px;
}

.intro-musicplayer-info {
  width: 380px;
  height: 130px;

  display: flex;
  flex-direction: row;
}

.intro-musicplayer-cover {
  margin: 17px;
  height: 96px;
  width: 96px;
  min-width: 96px;
  background-size: cover;
  background-position: center;
  background-image: url("/samples/albumCover.png");
}

.intro-musicplayer-title {
  width: 250px;
  font-size: 24px;
  font-weight: 700;
}

.intro-musicplayer-artist {
  width: 250px;
  font-size: 20px;
}

.intro-musicplayer-progressbarBG {
  position: relative;
  background-color: black;
  width: 380px;
  height: 20px;
  opacity: 0.5;
}

.intro-musicplayer-progressbar {
  background-color: white;
  height: 100%;
  width: 33%;
}

.intro-musicplayer-time {
  position: absolute;
  mix-blend-mode: difference;
  font-weight: 700;
}

.intro-musicplayer-position {
  top: 0px;
  left: 5px;
}

.intro-musicplayer-length {
  top: 0px;
  right: 5px;
}
