<div class="panel-bg intro-musicplayer-bg">
    <div class="contentBox intro-musicplayer-info">
        <div class="intro-musicplayer-cover"></div>
        <div class="verticalCenterFlexBox">
            <div class="intro-musicplayer-title overflowScroll">
                <span>Monochrome and Vivid</span>
            </div>
            <div class="intro-musicplayer-artist overflowScroll">
                <span>ぺのれり / 零</span>
            </div>
        </div>
    </div>
    <div class="contentBox intro-musicplayer-progressbarBG">
        <div class="intro-musicplayer-progressbar"></div>
        <div class="intro-musicplayer-position monospace intro-musicplayer-time">02:41</div>
        <div class="intro-musicplayer-length monospace intro-musicplayer-time">08:07</div>
    </div>
</div>