<div class="panel-bg intro-musicplayer-bg">
    <div class="contentBox intro-musicplayer-info">
        <img src="/samples/albumCover.png" class="intro-musicplayer-cover">
        <div class="verticalCenterFlexBox">
            <div class="intro-musicplayer-title">Monochrome and Vivid</div>
            <div class="intro-musicplayer-artist">ぺのれり / 零</div>
        </div>
    </div>
    <div class="contentBox intro-musicplayer-progressbarBG">
        <div class="intro-musicplayer-progressbar"></div>
        <div class="intro-musicplayer-position monospace intro-musicplayer-time">02:41</div>
        <div class="intro-musicplayer-length monospace intro-musicplayer-time">08:07</div>
    </div>
</div>