.logo {
    height: 100%;
}

.intro-topbar {
    display: flex;
    flex-direction: row;
    height: 128px;
    width: 1664px;

    margin-left: 128px;
    margin-right: 128px;

    position: absolute;
    top: 128px;
}

.intro-topbar > .divider {
    margin: 0px 50px 0px 50px;
}

.intro-topbar-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.intro-topbar-info > div {
    margin-top: 4px;
    margin-bottom: 4px;
}

.intro-tourneytitle {
    font-weight: 700;
    font-size: 40px;
}

.intro-matchID {
    font-size: 24px;
}

.intro-schedule {
    font-size: 24px;
}

.intro-countdown {
    margin-left: auto;
    font-size: 96px;
    font-weight: 800;
    text-align: center;
    width: 400px;
    height: 100%;
    line-height: 128px;
}

.intro-streamTitle {
    position: absolute;
    left: 256px;
    bottom: 256px;
    text-align: left;
    font-size: 64px;
    font-weight: 700;
}