#headerBox {
    position: absolute;
    height: 74px;
    top: 30px;
    left: 30px;
    font-size: 36px;
    line-height: 37px;
}

#headerBox > .divider {
    margin: 0px 24px 0px 24px;
}

#logo {
    height: 100%;
}

#frame {
    position: absolute;
    top: 70px;
}

#banpickBox {
    position: absolute;
    top: 190px;
    width: 100%;
    height: 370px;
}

.mappool-teamBG {
    position: relative;
    width: 400px;
    height: 180px;
}

.mappool-teamBG > .contentBox {
    position: relative;
    width: calc(100% - 30px);
    height: calc(100% - 20px);
    margin: 10px 10px 10px 20px;
}

.teamInfoBox {
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
}

.teamPlayersBox {
    position: absolute;
    width: 100%;
    height: 100%;
}

.acronym {
    width: 50px;
    min-width: 50px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    margin: 10px;
}

.mappool-teamName {
    font-size: 32px;
}

.mappool-pfp {
    width: 48px;
    height: 48px;
}

.mappool-nick {
    height: 48px;
    line-height: 48px;
    font-size: 24px;
    margin-left: 22px;
}

.mappool-mapBox {
    position: relative;
    background-color: rgba(255, 255, 255, 0.2);
}

#banBox {
    width: 535px;
    height: 370px;
    margin: 0px 10px 0px 10px;
}

#banBox::before {
    content: "BAN";
    font-weight: 700;
    font-style: italic;
    font-size: 40px;
    opacity: 0.3;
    position: absolute;
    right: 10px;
    top: -50px;
}

#pickBox {
    width: 955px;
    height: 370px;
}

#pickBox::before {
    content: "PICK";
    font-weight: 700;
    font-style: italic;
    font-size: 40px;
    opacity: 0.3;
    position: absolute;
    left: 10px;
    top: -50px;
}

.mappool-mapBoxDivider {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-1px);
    width: calc(100% - 20px);
    height: 2px;
    background-color: #000000;
}

.mappool-pickBoxRow {
    height: 50%;
    align-items: center;
}

.mappool-pickBoxRowStartOffset {
    width: 105px;
}

#banpickMappoolDivider {
    position: absolute;
    width: calc(100% - 40px);
    height: 4px;
    background-color: #FFFFFF;
    opacity: 0.5;
    top: 600px;
    left: 50%;
    transform: translateX(-50%);
}

#mappoolColumns {
    position: absolute;
    top: 625px;
    left: 20px;
    width: calc(100% - 40px);
}

#mappoolColumns > div {
    width: 25%;
}

#bottomBox {
    width: 100%;
    height: 165px;

    position: absolute;
    z-index: -1;

    bottom: 0px;
    left: 0px;
}

#matchCodeBox {
    width: 440px;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-size: 32px;
    font-weight: 700;
}

#matchCodeBox > .divider {
    margin: 0px 24px 0px 24px;
    height: 100px;
}

#matchCode {
    font-size: 96px;
}

#chatBox {
    width: 1040px;
}