#headerBox {
    position: absolute;
    height: 74px;
    top: 30px;
    right: 20px;
    font-size: 32px;
    font-weight: 700;
}

#logo {
    height: 100%;
}

.divider{
    margin: 0px 10px 0px 10px;
}

#tourneyTitle {
    height: 100%;
    line-height: 37px;
}

#frame {
    position: absolute;
    top: 70px;
}

.metadata {
    position: absolute;
    top: 440px;
    right: 0px;
}

#streamTitleContainer {
    position: absolute;
    top: 192px;
    right: 0px;
    width: 370px;
    height: 200px;
}

#streamTitle {
    height: 100%;
    font-weight: 700;
    font-size: 48px;
    word-break: keep-all;
}